<%- include('partials/header') %>


    <%- include('partials/nav')%>

        <div id="error-page" class="main-flex">
            <h2>404 error <br> This page does not exist yet!! <br> Be patient. Thank you.</h2>
        </div>
        <%- include('partials/footer')%>