<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <main id="about" class="container main-flex">

            <div id="about-text">
                <h1>About tidings.</h1>
                <p>Tidings is a special social networking service. Users can post and interact with short messages
                    called 'tyds'.</p>
                <% if(locals.isLoggedIn){%>
                    <a href="/new-tyd" class="btn">New Tyd</a>
                    <%}%>
            </div>
            <div id="about-tyds">
                <img src="" alt="">
            </div>

        </main>

        <%- include('partials/footer') %>