<%- include('partials/header') %>


    <%- include('partials/nav') %>
        <main id="home" class="container main-flex">
            <div id="home-text">
                <h1>Connect to the world.</h1>
                <h1>Rada?</h1>
                <h2>Share your good news!</h2>
            </div>

        </main>

        <%- include('partials/footer') %>