<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <div id="new-tyd" class="main-flex new-tyd">
         
                <form class="form glass" action="/new-tyd" method="post">
                    <textarea id="tyd-textarea" maxlength="240" name="tyd" rows="10" cols="30"
                        placeholder="Share your Tyd.  (maximum of 240 characters)"></textarea>
                    <input id="new-tyd-btn" type="submit" value="Post">
                </form>
          
        </div>
        <%- include('partials/footer') %>