<%- include('partials/header') %>

    <%- include('partials/nav') %>
        <div id="new-tyd" class="main-flex">

            <form class="glass form" action="/new-tyd" method="post">
                <h2>Share your tyd</h2>
                <textarea id="tyd-textarea" maxlength="240" name="tyd" rows="7" cols="50"
                    placeholder="Maximum of 240 characters"></textarea>
                <progress id="tyd-progress" max="240" value="0"></progress>
                <input id="new-tyd-btn" type="submit" value="Post">
            </form>
        </div>

        <%- include('partials/footer') %>